<!DOCTYPE HTML>
<html>
	<head>
		<title>AI food recommendations</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets2/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets2/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h2>{{ dishName }}</h2>
							<p class="major">{{ duration }}</p>
							<p>{{ ingredients }}</p>
							<ul class="actions">
								<li><a href="{% url 'sugg' %}" class="button big wide smooth-scroll-middle">Change One</a></li>
								<li><a href="#" id="photoLink" class="button big wide smooth-scroll-middle">Take A Photo</a><input type="file" id="photoFile" style="display: none"></li>
							</ul>
							<ul class="actions">
								<li><a href="#first" class="button big wide smooth-scroll-middle">Recipe</a></li>
								<li><a href="{% url 'form' %}" class="button big wide smooth-scroll-middle">Refill Infos</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="{{ imgSrc }}" alt="" />
						</div>
					</section>

					<section class="spotlight style1 orient-right content-align-left image-position-center fullscreen onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Recipe</h2>
							<p> {{ recipe }} </p>
							<ul class="actions stacked">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/static/images2/spotlight01.jpg" alt="" />
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="/static/assets2/js/jquery.min.js"></script>
			<script src="/static/assets2/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets2/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets2/js/browser.min.js"></script>
			<script src="/static/assets2/js/breakpoints.min.js"></script>
			<script src="/static/assets2/js/util.js"></script>
			<script src="/static/assets2/js/main.js"></script>
			<script src="/static/assets2/js/backend.js"></script>
			<script>
				var imgUrl = "{% url 'img' %}";
				var csrftoken = "{{ csrf_token }}";
			</script>
			
	</body>
</html>